<!DOCTYPE html>
<html lang="en" ng-app='myFirstApp'>
  <head>
    <title>Angular project</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body ng-controller="ProjectController">
    <input type="text" ng-model="search" />
    <ul ng-repeat="color in colors | orderBy: '-name' | filter: search">
      <li>
        {{color.name}} - {{color.rate | currency: '₽'}}
      </li>
    </ul>

  </body>
</html>
